@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");


//色定義
$button-color: #b1788c;
$bg-color: #deb0c4;
$heading-color: #606060;

//ブレークポイントを変数化
$sp: 767px; //スマホ

@mixin sp {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: 768px) {
        @content;
    }
}


html {
    font-size: 62.5%;
}


body {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}


li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}


.content-width {
    margin: 0 110px;

    @include sp {
        margin: 0 15px;
    }

}

/* SP、PCの表示切り替え */

.no-sp {
    //pc版
    //sp表示を消す
    display: none; // Hide on SP (screens 767px and below) 

    @include pc {
        display: inherit; // Show on PC (screens 768px and above)
    }
}

.no-pc {
    //sp版
    //pc表示を消す
    display: none; // Hide on PC (screens 768px and above)

    @include sp {
        display: inherit; // Show on SP (screens 767px and below)
    }
}



//-----------header----------------------

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    position: absolute;

    @include sp {
        position: relative;
        height: 60px;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 10;

        @include sp {
            padding: 14px 0;
            display: flex;
            justify-content: space-between;
        }

    }

    .header_logo {

        img{
            height: 80px;
        }
        @include sp {
            height: auto;
            img{
                height: 50px;
            }
        }
    }

}


//PC版ナビゲーション
.nav-main {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    line-height: 1.7;
    align-items: center;
    margin-left: 40px;


    @include sp {
        display: none;
    }


    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        margin-left: 20px;
        padding: 0;
    }

    li {
        margin-right: 8px;
        padding: 1px 15px;
        border: solid 1px;
        background-color: white;

        a {
            text-decoration: none;
            color: #333;
            font-weight: 500;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

  @media screen and (max-width: 1365px) and (min-width: 768px) {
    .nav-main {
      font-size:calc(16/1366*100vw); 
    }
  }


.btn-consultation {
    background-color: $button-color;
    color: white;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 15px;

    .arrow {
        margin-left: 5px;
        font-style: normal;
        display: inline-block;
    }

    &:hover {
        opacity: 0.7;
    }
}


//SP版ナビゲーション


.hamburger-menu {
    font-size: 3.2rem;
    cursor: pointer;
}

.nav-sp {
    display: none; // 初期状態で非表示
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 100%;
    width: 100%;

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 10px 20px;

            &:active {
                background-color: #e9e7e7;
                opacity: 0.7;
            }

            a {
                text-decoration: none;
                color: #333;
                font-size: 1.6rem;
            }
        }
    }

    &.active {
        display: block;
    }
}



//---------------メインビジュアル----------------

.key-slider,
.slick-list,
.slick-track {
    height: 100%;
    padding: 0;
    margin: 0;

    @include sp {
        height: auto;
    }
}


.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: white;
    margin: 0;
    /* 余白をリセット */

    @include sp{
        height: auto;
        position: static;
    }

}

.mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin: 0;
    /* 余白をリセット */

    @include sp{
        position: static;
        height:auto;
        min-height: 0;
    }

    .slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;


    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.7;
        position: relative;
        //top:0;
        //left:0;

        @include sp {
            height: auto;
            position: static;
            aspect-ratio: 1 / 1;
        }

    }

}

.hero-text {
    position: absolute;
    left: calc(8vw);
    bottom: calc(10vh);
    //transform: translate(-50%, 50%);
    color: #000;
    z-index: 20;

    h1 {
        font-size: 3.6rem;
        line-height: 1.5;
        font-family: 'Noto Serif JP';
        font-weight: 400;
    }
}

@include sp {
    .hero-text {
        position: relative;
        width: 100%;
        left: 50%;
        bottom: 11%;
        transform: translate(-50%, 0%);
        margin-top:18px;
        text-align: center;

        h1 {
            font-size: 2.8rem;
            line-height: 1.8;
            
        }

        .btn-consultation {
            width: 210px;
            margin: 20px auto;
            margin-bottom: 30px;
            font-size: 1.8rem;
        }
    }
}




//------------魅力--------------------------------

.appeals {
    position:static;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 42px;
    margin: 0 140px;
    background-color: white;
    text-align: center;


    .appeal {
        width: 20%;
        display: flex;
        flex-direction: column; /* 縦方向に配置 */
        align-items: center; /* 中央に揃える */
        justify-content: flex-start;

        .circle {
            width: 156px;
            height: 156px;
            border: 3px solid $button-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;

            .circle_contents {
                text-align: center;
                margin: 0 auto;
            }

            .title {
                //魅力
                display: block;
                font-size: 2.4rem;
                font-family: 'Noto Serif JP';
                font-weight: 700;
                color: $button-color;
            }

            .number {
                display: block;
                font-size: 4.8rem;
                line-height: 1;
                font-weight: 400;
                font-family: 'Noto Sans JP';
                color: $button-color;
            }
        }

        p {
            font-size: 2.4rem;
            color: #333;
            margin-top: 10px;
            line-height: 2;
        }
    }
}


@include sp {
    .appeals {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 35px; //appeal
        margin-bottom: 55px;


        .appeal {
            width: 50%;

            .circle {
                margin: 15px;
                margin-bottom: 20px;
            }

            p {
                font-size: 2rem;
                margin-top: -10px;
                line-height: 1.8;
            }
        }
    }
}



//------------CTA----------------------------------


.big-title {
    font-size: 4.8rem;
    font-family: 'Noto Serif JP';
    font-weight: 700;
    color: $button-color;
    padding-bottom: 20px;
}

@media screen and (max-width: 1365px) and (min-width: 768px) {
    .consultation .big-title {
      font-size:calc(48/1366*100vw); 
    }
  }


.consultation {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 55px;

    ul {
        list-style: none;
        padding: 0;
        display: block;
        margin-bottom: 40px;

        li {
            position: relative;
            margin-bottom: 10px;
            font-size: 2.4rem;

            &::before {
                content: "\f0c8";

                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                margin-right: 30px;
                text-shadow: 2px 2px #808080;
                font-size: 2.4rem;

                line-height: 1.5rem;

            }
        }
    }

    .btn-consultation {
        background-color: $button-color;
        color: white;
        font-size: 3.2rem;
        line-height: 1;
        border-radius: 10px;
        padding: 23px 120px;
        text-decoration: none;
        box-shadow: 7px 7px rgb(62, 21, 40);

        &:active {
            transform: translate(6px, 6px);
            box-shadow: 1px 1px rgba(62, 21, 40);
        }
    }

    .cta_arrow {
        margin-left: 20px;
    }
}


//SP
@include sp {
    .big-title {
        font-size: 3.4rem;
        text-align: center;
        line-height: 1.2;
    }


    .consultation {
        padding-top: 55px;
        padding-bottom: 52px;

        ul {
            margin-bottom: 40px;
            margin-top: 30px;

            li {
                position: relative;
                margin-bottom: 10px;
                margin-left: 5px;
                font-size: 1.8rem;
                line-height: 1.5;

                &::before {

                    font-weight: 400;
                    margin-right: 20px;
                    text-shadow: 2px 2px #808080;
                    font-size: 1.8rem;
                    line-height: 1.5rem;

                }
            }
        }

        .btn-consultation {
            margin-top: 10px;
            font-size: 2rem;
            line-height: 1;
            border-radius: 15px;
            padding: 15px 65px;
            box-shadow: 6px 6px rgba(62, 21, 40);

            &:active {
                transform: translate(5px, 5px);
                box-shadow: 1px 1px rgba(62, 21, 40);
            }
        }

        .cta_arrow {
            margin-left: 15px;
        }
    }
}


//-------特徴------------------------------

.feature_content_width {
    //共通幅
    max-width: 950px;
    margin: 0 auto;

    @include sp {
        max-width: 345px;
    }
}


.features {
    text-align: center;
    line-height: 1;
    padding-top: 58px;

    @include sp {
        padding-top: 55px;
    }

}

.feature-item {
    margin-top: 30px;
    margin-bottom: 50px;

    @include sp {
        margin-top: 30px;
        margin-bottom: 50px;
    }

}


.feature-number {
    font-size: 4.8rem;
    color: $heading-color;
    font-weight: 400;
    font-family: 'Noto Serif JP';
    margin-bottom: 30px;

    @include sp {
        margin-bottom: 25px;
    }
}

.marker {
    //擬似要素でマーカーを引く
    position: relative;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    padding: 0 4px;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bg-color;
        z-index: -1;
        padding: 0;
        background-size: 100% 100%;
    }
}

.feature-title {
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 40px;
    color: $heading-color;
    font-weight: 400;
    font-family: 'Noto Serif JP';

    @include sp {
        font-size: 3.2rem;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 40px;

    }
}


//01
.feature-content {
    border-radius: 10px;
    text-align: left;
    margin: 0 auto;

    @include sp {
        margin-bottom: 100px;
    }

    .content-heading {
        background-color: $button-color;
        color: white;
        padding: 10px 20px;
        font-size: 3.2rem;
        border-radius: 10px 10px 0 0;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 400;

        @include sp {
            font-size: 1.8rem;
            padding: 10px 10px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
    }

    .content-list {
        display: grid;
        grid-template-columns: 274px 1fr;
        grid-gap: 10px;
        line-height: 2;

        @include sp {
            grid-template-columns: 100px 1fr;
        }

        .content-row {
            display: contents;
        }

        dt {
            background-color: #dddddd;
            padding: 10px;
            font-size: 2.4rem;
            text-align: center;
            height: 72px;
            display: block;

            @include sp {
                font-size: 1.2rem;
                padding: 40px 0;
                height: auto;
            }

        }

        dd {
            padding-left: 30px;
            font-size: 1.6rem;
            background-color: #eeeeee;
            height: 72px;
            display: block;
            line-height: 2;

            @include sp {
                font-size: 1.2rem;
                padding: 15px 30px;
                word-break: break-word;
                height: auto;
                line-height: 1.6;
            }


        }

        .content-row:last-child dt {
            border-bottom-left-radius: 10px;
            /* 左下の角を丸く */
        }

        .content-row:last-child dd {
            border-bottom-right-radius: 10px;
            /* 右下の角を丸く */
        }

    }
}


//02

.pricing-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;

    @include sp {
        display: block;
    }

    .pricing-box {
        text-align: center;

        .pricing-title {
            font-size: 3.6rem;
            line-height: 1.6;
            background-color: $button-color;
            color: white;
            width: 430px;
            font-weight: 700;

            @include sp {
                width: 100%;
            }
        }

        .pricing-amount {
            font-size: 8rem;
            font-weight: bold;
            font-family: 'Noto Serif JP';
            margin-top: 45px;
            color: $button-color;
            padding: 10px;

            @include sp {
                font-size: 6rem;
                margin-top: 40px;
                margin-bottom: 63px;
            }
        }

        .tax {
            font-size: 2.4rem;
        }
    }
}



.note {
    font-size: 1.6rem;
    margin-top: 20px;

    @include sp {
        margin-top: -40px;
        font-size: 1.2rem;
    }
}


//03

.feature-content {
    text-align: left;
    margin: 0 auto;
}

.room-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

    @include sp {
        display: block;
        margin-bottom: 60px;
    }

    .image-box {
        text-align: center;

        @include sp {
            margin-top: 30px;
        }

        img {
            width: 460px;
            aspect-ratio: 16/9;
            object-fit: cover;
            height: auto;
            opacity: 0; // 初期状態で非表示
            transform: translateY(50px); // 初期位置を下にオフセット
            transition: all 1s ease-out; // フェードイン
        }

        p {
            margin-top: 10px;
            font-size: 1.6rem;
            line-height: 1.6;
            text-align: left;
            padding: 0 30px;

            @include sp {
                font-size: 1.2rem;
                padding: 0 17px;
                margin-top: 15px;

            }
        }

    }

    .image-box:last-child {
        @include sp {
            p {
                padding: 0 16px;
                margin-bottom: -10px;
            }
        }
    }
}

.image-box img.fadeInUp {
    opacity: 1; // 表示
    transform: translateY(0); // 元の位置に戻す
}


//04


.access {
    text-align: center;
    margin: 0 auto;
}

#map {


iframe{
    width:100%;
    height:100%;
    
}
    height: 480px;
    margin: 0 100px;
    background-color: grey;

    @include sp {
        width: 345px;
        height: 250px;
        margin: 0 auto;
    }
}

.access-description {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 10px;

    @include sp {
        margin-top: 15px;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: -10px;
    }
}

.access-address {
    font-size: 2.4rem;
    margin-top: 30px;
    margin-bottom: 30px;

    @include sp {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 10px;
    }
}

.schedule-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}


.schedule-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    th {
        font-size: 2.4rem;
        font-weight: 400;
        padding: 5px 0;
    }

    td {
        padding: 10px;
        font-size: 2.4rem;
    }

    th {
        background-color: $button-color;
        color: white;
    }

    td {
        font-size: 2.4rem;
    }


    tbody tr {
        border-bottom: 1px solid #000;
        /* 横線 */
    }


    /* 縦線を消す */
    td,
    th {
        border-left: none;
        border-right: none;
    }
}

@include sp {
    .schedule-table {
        th {
            height: 20px;
            font-size: 1.2rem;
        }

        td {
            font-size: 1.2rem;
            line-height: 1;
            padding: 5px;
        }
    }
}

//----------FAQ----------------

.faq {
    text-align: center;
    margin-top: 33px;

    h2 {
        margin-bottom: 20px;

        @include sp {
            margin-bottom: 30px;
        }
    }

    @include sp {
        margin-top: 50px;
        margin-bottom: 470px;
    }


    .faq-item {
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        font-size: 1.8rem;

        @include sp {
            font-size: 1.6rem;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .question {
            font-size: inherit;
            border-bottom: 2px solid $button-color;
            color: $button-color;
            cursor: pointer;
            position: relative;
            padding-left: 35px;
            margin: 0;
            font-weight: 400;
            padding-bottom: 13px;

            @include sp {
                min-height: 80px;
                padding-bottom: 0;
                padding-top: 10px;

                //line-height:1.5;
            }

            &::before {
                content: "Q.";
                font-size: 2.4rem;
                position: absolute;
                font-family: 'Noto Serif JP';
                left: 0;
                color: $button-color;
                font-weight: 700;
                margin-right: 10px;
                line-height: 1.5;
            }

            &::after {
                content: "+";
                font-size: 3.2rem;
                line-height: 1;
                position: absolute;
                right: 0;
                top: 0;
                color: white;
                text-align: center;
                transition: transform 0.3s ease;
                background-color: $button-color;
                width: 40px;
                height: 40px;

                @include sp {
                    margin-top: 20px;
                    width: 36px;
                    height: 36px;
                }
            }
        }

        .answer {

            display: none;
            padding-left: 30px;
            padding-right: 140px;
            margin-top: 0px;
            position: relative;
            font-weight: 400;

            @include sp {
                padding-left: 35px;
                padding-right: 50px;
            }



            &::before {
                content: "A.";
                font-size: 2.4rem;
                position: absolute;
                left: 0;
                top: 0;
                font-family: 'Noto Serif JP';
                color: $button-color;
                margin-right: 10px;
                font-weight: 700;
                line-height: 1.5;
            }
        }

        //クリック時　（jsでactive付与)
        &.active .answer {
            display: block;
            height: auto;

        }

        &.active .question::after {
            content: "ー";
        }
    }
}

.faq-item:nth-of-type(1) {
    .question {
        @include sp {
            padding-bottom: 5px;
            min-height: 50px;
            margin-top: -10px;
        }
    }
}

.faq-item:last-child {

    margin-bottom: 90px;
}

//footer

footer {
    padding: 40px 0;
    text-align: center;

    @include sp {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-logo {
        width: 450px;
        height: auto;
    }

    .footer-copyright {
        font-size: 1.2rem;
    }
}

@include sp {
    footer {
        margin: 0 15px;

        .footer-copyright {
            font-size: 1.1rem;
        }

    }
}

//認証用

/* オーバーレイのスタイル */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255); 
    z-index: 999; /* モーダルよりも後ろに配置する */
  }

  /* モーダルのスタイル */
  #loginModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; /* オーバーレイの上に表示 */
  }